{% extends 'navbar.html' %}
{% block navbar %}
<div class="container">
    <form action="{% url 'changepassword' %}" method="post">
        {% csrf_token %}
         <div class="form-group">
            <span>New Password</span>
            <input type='hidden' name='id' value="{{id}}">
            <input class="form-control" type="Password" name="password" required>
        </div><br>
        <input class="btn btn-primary" type="submit"name="submit">
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock navbar %}